{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "10.15.3",
          "esmodules": true
        }
      },
      "@babel/preset-es2015"
    ]
  ],
    "plugins": [
      [
        "@babel/plugin-transform-runtime",
        {
          "absoluteRuntime": false,
          "corejs": false,
          "helpers": true,
          "regenerator": true,
          "useESModules": true,
          "version": "7.0.0-beta.0"
        }
      ]
    ]
}